<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <button>Send Email</button>
    <script>
      import {
        sendEmail,
        type EmailRequest,
      } from "@hbertoson/astro-resend/client";
      const button = document.querySelector("button");
      button?.addEventListener("click", async () => {
        const emailData: EmailRequest = {
          to: "dev@hunterbertoson.tech",
          subject: "Test Email",
          templateName: "email",
          props: {
            name: "Hunter",
            content: "This is a test email. From my Astro Resend Integration",
          },
        };
        await sendEmail(emailData);
      });
    </script>
  </body>
</html>
